@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('Images/pexels-ready-made-3847497.jpg');
    height: 250vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header h2 {
    color: cyan;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
     position: absolute; 
     top: 2vh; 
     left: 50px;
}

ul{
    display: flex;
    list-style: none;
    position: absolute;
    right: 100px;
}

ul li a{
    text-decoration: none;
    padding: 0 20px;
    display: inline-block;
    color: darkblue;
}

li a::after{
    content: '';
    display: block;
    height: 5px;
    width: 0;
    background: cyan;
    transition: all .5s;
}

li a:hover::after{
    width: 100%;
}

main{
    border: 1px;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-center img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98.7vw;
    height: 75vh;
    position: absolute;
    top: 10.6vh;
    left: 0;
    z-index: -1;
}

.content-center h2{
    color: white;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border: 1px;
    width: 67.5vh;
    position: absolute;
    right: 9.5vw;
    top: 34vh;
}

.content-center h3{
    color: white;
    font-size: 20px;
    text-align: center;
    border: 1px;
    width: 67.5vh;
    position: absolute;
    right: 9vw;
    top: 44vh;
    line-height: 5vh;
}

.signin-btn{
    background: hsl(0, 0%, 45%);
    color: hsl(180, 100%, 80%);
    display: flex;
    position: absolute;
    top: 61.5vh;
    right: 30vw;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 11px;
    transition: 1s ease;
}

.signin-btn:hover{
    font-size: 20px;
}

.learnmore-btn{
    background: hsl(0, 0%, 45%);
    color: hsl(180, 100%, 80%);
    display: flex;
    position: absolute;
    top: 61.5vh;
    right: 20vw;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 11px;
    transition: 1s ease;
}

.learnmore-btn:hover{
    font-size: 20px;
}

.services h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: darkblue;
    position: absolute;
    top: 90vh;
    left: 43vw;
}

.onlineclass{
    border: 3px solid blue;
    height: 27vh;
    width: 22vw;
    display: flex;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    top: 100vh;
    left: 4vw;
}

.onlineclass p{
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    position: relative;
    top: 8.8vh;
    left: 4.3vw;
}

.onlineclass img{
    position: relative;
    top: -6vh;
    left: -10vw;
}

.gamedev{
    border: 3px solid blue;
    height: 27vh;
    width: 22vw;
    display: flex;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    top: 100vh;
    left: 37vw;
}

.gamedev p{
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    position: relative;
    top: 8.8vh;
    left: 6vw;
}

.gamedev img{
    position: relative;
    top: -6vh;
    left: -8vw;
}


.debugging{
    border: 3px solid blue;
    height: 27vh;
    width: 22vw;
    display: flex;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    top: 100vh;
    left: 70vw;
}

.debugging p{
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    position: relative;
    top: 8.8vh;
    left: 6vw;
}

.debugging img{
    position: relative;
    top: -6vh;
    left: -8vw;
}

.cybersecurity{
    border: 3px solid blue;
    height: 27vh;
    width: 22vw;
    display: flex;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    top: 135vh;
    left: 4vw;
}

.cybersecurity p{
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    position: relative;
    top: 8.8vh;
    left: 4vw;
}

.cybersecurity img{
    position: relative;
    top: -6vh;
    left: -12vw;
}

.uiux{
    border: 3px solid blue;
    height: 27vh;
    width: 22vw;
    display: flex;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    top: 135vh;
    left: 37vw;
}

.uiux p{
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    position: relative;
    top: 8.8vh;
    left: 4.3vw;
}

.uiux img{
    position: relative;
    top: -6vh;
    left: -11vw;
}

.webdev{
    border: 3px solid blue;
    height: 27vh;
    width: 22vw;
    display: flex;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    top: 135vh;
    left: 70vw;
}

.webdev p{
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    position: relative;
    top: 8.8vh;
    left: 6.3vw;
}

.webdev img{
    position: relative;
    top: -6vh;
    left: -7.6vw;
}

.about h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: darkblue;
    position: absolute;
    top: 170vh;
    left: 43vw;
}

.about p{
    border: 1px;
    width: 48.5vw;
    height: 30vh;
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    color: blue;
    position: relative;
    top: 175vh;
    left: -24.1vw;
}

.about img{
    position: relative;
    top: 145vh;
    left: 38vw;
}

.about h3{
    border: 1px;
    width: fit-content;
    height: fit-content;
    color: darkblue;
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
    position: relative;
    top: 120vh;
    left: 49.5vw;
}