@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('Images/pexels-ready-made-3847497.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.header{
    border: 1px;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header h2{
    color: cyan;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 3.5vw;
    top: 5vh;
}

.header ul{
    list-style: none;
    display: flex;
    position: absolute;
    right: 3vw;
    top: 6.4vh;
}

.header ul li a{
    text-decoration: none;
    padding: 0 20px;
    display: inline-block;
    color: darkblue;
}

.header li a::after{
    content: '';
    display: block;
    height: 5px;
    width: 0;
    background: cyan;
    transition: all .5s;
}

.header li a:hover::after{
    width: 100%;
}

.content-center{
    border: 1px;
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2vh;
}

.content-center img{
    position: absolute;
    width: 98.7vw;
    height: 75vh;
    z-index: -1;
}

.content-center h2{
    border: 1px;
    height: fit-content;
    width: 30vw;
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 35vh;
    right: 7vw;
}

.content-center h3{
    border: 1px;
    color: white;
    width: 42vw;
    height: fit-content;
    text-align: justify;
    font-size: 25px;
    position: absolute;
    top: 44vh;
    right: 1vw;
    line-height: 30px;
}

.signin-btn{
    display: flex;
    position: absolute;
    top: 62vh;
    right: 29vw;
    color: hsl(180, 100%, 80%);
    background: hsl(0, 0%, 45%);
    text-decoration: none;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 11px;
    transition: 1s ease;
}

.signin-btn:hover{
    font-size: 20px;
}

.learnmore-btn{
    display: flex;
    position: absolute;
    top: 62vh;
    right: 19vw;
    color: hsl(180, 100%, 80%);
    background: hsl(0, 0%, 45%);
    text-decoration: none;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 11px;
    transition: 1s ease;
}

.learnmore-btn:hover{
    font-size: 20px;
}

.services{
    border: 1px;
    height: 100vh;
    width: 100%;
    position: relative;
    top: 5vh;
}

.services h2{
    border: 1px;
    height: fit-content;
    width: 13vw;
    color: darkblue;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 40vw;
}

.onlineclass{
    border: 3px solid blue;
    border-radius: 20px;
    box-shadow: 0 9px 10px rgba(0,0,0,0.65);
    height: 27vh;
    width: 22vw;
    position: relative;
    top: 12vh;
    left: 2vw;
}

.onlineclass p{
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    position: absolute;
    top: 19vh;
    left: 4vw;    
}

.onlineclass img{
    position: absolute;
    top: 1vh;
    left: 2vw;
}

.gamedev{
    border: 3px solid blue;
    border-radius: 20px;
    box-shadow: 0 9px 10px rgba(0,0,0,0.65);
    height: 27vh;
    width: 22vw;
    position: relative;
    top: -15vh;
    left: 38vw;
}

.gamedev p{
    font-size: 30px;
    color: darkblue;
    font-weight: bold;
    position: absolute;
    top: 19vh;
    left: 6vw;
}

.gamedev img{
    position: absolute;
    top: 1vh;
    left: 2vw;
}

.debugging{
    border: 3px solid blue;
    border-radius: 20px;
    box-shadow: 0 9px 10px rgba(0,0,0,0.65);
    height: 27vh;
    width: 22vw;
    position: relative;
    top: -42vh;
    left: 74vw;
}

.debugging p{
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    position: absolute;
    top: 19vh;
    left: 6vw;
}

.debugging img{
    position: absolute;
    top: 1vh;
    left: 2vw;
}

.cybersecurity{
    border: 3px solid blue;
    border-radius: 20px;
    box-shadow: 0 9px 10px rgba(0,0,0,0.65);
    height: 27vh;
    width: 22vw;
    position: relative;
    top: -18vh;
    left:2vw;
}

.cybersecurity p{
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    position: absolute;
    top: 19vh;
    left: 3.5vw;
}

.cybersecurity img{
    position: absolute;
    top: 1vh;
    left: 2vw;
}

.uiux{
    border: 3px solid blue;
    border-radius: 20px;
    box-shadow: 0 9px 10px rgba(0,0,0,0.65);
    height: 27vh;
    width: 22vw;
    position: relative;
    top: -45vh;
    left: 38vw;
}

.uiux p{
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    position: absolute;
    top: 19vh;
    left: 4vw;
}

.uiux img{
    position: absolute;
    top: 1vh;
    left: 2vw;
}

.webdev{
    border: 3px solid blue;
    border-radius: 20px;
    box-shadow: 0 9px 10px rgba(0,0,0,0.65);
    height: 27vh;
    width: 22vw;
    position: relative;
    top: -72vh;
    left: 74vw;
}

.webdev p{
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    position: absolute;
    top: 19vh;
    left: 7vw;
}

.webdev img{
    position: absolute;
    top: 1vh;
    left: 2vh;
}

.about{
    border: 1px;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 8vh;
}

.about h2{
    border: 1px;
    font-size: 40px;
    color: darkblue;
    height: fit-content;
    width: 18vw;
    position: absolute;
    top: 0vh;
    left: 40vw;
}

.about p{
    border: 1px;
    height: fit-content;
    width: 60vw;
    color: blue;
    font-size: 22px;
    position: absolute;
    top: 18vh;
    left: 1vw;
    line-height: 27px;
}

.about img{
    position: absolute;
    right: 0vw;
    top: 13vh;
}

.about h3{
    position: absolute;
    right: 11.5vw;
    top: 30vh;
    font-size: 35px;
    font-weight: bold;
    color: darkblue;
    font-family: 'Roboto', sans-serif;
}

.details{
    border: 1px;
    height: 200vh;
    width: 100%;
    position: relative;
    top: 5vh;
}

.details h2{
    color: darkblue;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 0;
    left: 40vw;
}

.details-onlineclasses{
    border: 1px;
    height: 55vh;
    width: 100%;
    position: relative;
    top: 15vh;
}

.details-onlineclasses h3{
    font-size: 27px;
    color: darkblue;
    position: absolute;
    top: 3vh;
    left: 2vw;
}

.icon1{
    position: absolute;
    top: 2vh;
    left: 15vw;
}

.details-onlineclasses p{
    border: 1px;
    height: fit-content;
    width: 55vw;
    color: blue;
    font-size: 25px;
    line-height: 30px;
    text-align: justify;
    position: absolute;
    top: 15vh;
    left: 1.9vw;
}

.img1{
    position: absolute;
    top: 4vh;
    right: 2vw;
}

.link1{
    display: flex;
    color:hsl(180, 100%, 80%);
    background: hsl(0, 0%, 45%);
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 11px;
    text-decoration: none;
    font-size: 17px;
    position: absolute;
    top: 38vh;
    left: 2vw;
    transition: 1s ease;
}

.link1:hover{
    font-size: 20px;
}

.details-gamedev{
    border: 1px;
    width: 100%;
    height: 70vh;
    position: relative;
    top: 17vh;
}

.details-gamedev h3{
    font-size: 27px;
    color: darkblue;
    position: absolute;
    top: 3vh;
    left: 2vw;
}

.icon2{
    position: absolute;
    top: 2vh;
    left: 11vw;
}

.details-gamedev p{
    border: 1px;
    height: fit-content;
    width: 55vw;
    font-size: 25px;
    color: blue;
    text-align: justify;
    line-height: 30px;
    position: absolute;
    top: 30vh;
    right: 2vw;
}

.img2{
    position: absolute;
    top: 18vh;
    left: 2vw;
}

.link2{
    display: flex;
    color:hsl(180, 100%, 80%);
    background:hsl(0, 0%, 45%);
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 11px;
    text-decoration: none;
    position: absolute;
    top: 49vh;
    right: 5vw;
    transition: 1s ease;
}

.link2:hover{
    font-size: 20px;
}